<a href="https://colab.research.google.com/github/harisx91/Recommender_System_DAV_6300/blob/master/Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Name: Haris Sumra
#### Assignment: Collaborative Filtering

### Resources:
https://www.geeksforgeeks.org/recommendation-system-in-python/

https://github.com/Arvind-Maan/Reco-Me/blob/master/movie_recommendation.py

In [125]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os
import tarfile

In [126]:
#Loading the Data from Github Repository
username = "harisx91"
path = "Recommender_System_DAV_6300/master/Module_1/M1_Rating.csv"
df = pd.read_csv(f'https://raw.githubusercontent.com/{username}/{path}')

### EDA

In [127]:
df

,UserID,The Whale,Top Gun,I Came By,The Godfather,Top Gun: Maverick,Spider Man
0,1,1.000,4.000,5.000,NaN,4,3.000
1,2,NaN,NaN,4.000,4.000,5,5.000
2,3,3.000,5.000,2.000,NaN,5,4.000
3,4,NaN,NaN,NaN,5.000,3,4.000
4,5,2.000,4.000,3.000,3.000,5,3.000
5,6,3.000,4.000,NaN,3.000,4,5.000
6,7,NaN,2.000,NaN,NaN,2,NaN

We have some unknown values

In [128]:
df.shape

(7, 7)

There are 7 rows and 7 columns in my dataset

In [129]:
df.describe()

,UserID,The Whale,Top Gun,I Came By,The Godfather,Top Gun: Maverick,Spider Man
count,7.000,4.000,5.000,4.000,4.000,7.000,6.000
mean,4.000,2.250,3.800,3.500,3.750,4.000,4.000
std,2.160,0.957,1.095,1.291,0.957,1.155,0.894
min,1.000,1.000,2.000,2.000,3.000,2.000,3.000
25%,2.500,1.750,4.000,2.750,3.000,3.500,3.250
50%,4.000,2.500,4.000,3.500,3.500,4.000,4.000
75%,5.500,3.000,4.000,4.250,4.250,5.000,4.750
max,7.000,3.000,5.000,5.000,5.000,5.000,5.000

Using describe function I can look at quick statistical inference of my dataset

In [130]:
df_01 = df.fillna(0)
df_01

,UserID,The Whale,Top Gun,I Came By,The Godfather,Top Gun: Maverick,Spider Man
0,1,1.000,4.000,5.000,0.000,4,3.000
1,2,0.000,0.000,4.000,4.000,5,5.000
2,3,3.000,5.000,2.000,0.000,5,4.000
3,4,0.000,0.000,0.000,5.000,3,4.000
4,5,2.000,4.000,3.000,3.000,5,3.000
5,6,3.000,4.000,0.000,3.000,4,5.000
6,7,0.000,2.000,0.000,0.000,2,0.000

Here I filled in unknown values with 0 fo further data analysis

In [131]:
df_02 = df_01.copy()
df_02.index = np.arange(1, len(df_01) +1)
df_02

,UserID,The Whale,Top Gun,I Came By,The Godfather,Top Gun: Maverick,Spider Man
1,1,1.000,4.000,5.000,0.000,4,3.000
2,2,0.000,0.000,4.000,4.000,5,5.000
3,3,3.000,5.000,2.000,0.000,5,4.000
4,4,0.000,0.000,0.000,5.000,3,4.000
5,5,2.000,4.000,3.000,3.000,5,3.000
6,6,3.000,4.000,0.000,3.000,4,5.000
7,7,0.000,2.000,0.000,0.000,2,0.000

Copied my original dataset since I will be prepping my data for further analysis

In [132]:
#Loading the Data from Github Repository
username = "harisx91"
path = "Recommender_System_DAV_6300/master/Module_1/MovieID.csv"
movie_title = pd.read_csv(f'https://raw.githubusercontent.com/{username}/{path}')
movie_title

   movieID              title
0     1001          The Whale
1     1002            Top Gun
2     1003          I Came By
3     1004      The Godfather
4     1005  Top Gun: Maverick
5     1006         Spider Man

This dataset contains unique movieID that I will need to merge my data

In [133]:
df_3 = df_02.drop(['UserID'], axis=1)

df_survey = df_3.stack().reset_index()
df_survey.columns=['UserID', 'movie', 'rating']

In [134]:
df_survey.head()

   UserID              movie  rating
0       1          The Whale   1.000
1       1            Top Gun   4.000
2       1          I Came By   5.000
3       1      The Godfather   0.000
4       1  Top Gun: Maverick   4.000

In [135]:
df_survey['rating']

0    1.000
1    4.000
2    5.000
3    0.000
4    4.000
5    3.000
6    0.000
7    0.000
8    4.000
9    4.000
10   5.000
11   5.000
12   3.000
13   5.000
14   2.000
15   0.000
16   5.000
17   4.000
18   0.000
19   0.000
20   0.000
21   5.000
22   3.000
23   4.000
24   2.000
25   4.000
26   3.000
27   3.000
28   5.000
29   3.000
30   3.000
31   4.000
32   0.000
33   3.000
34   4.000
35   5.000
36   0.000
37   2.000
38   0.000
39   0.000
40   2.000
41   0.000
Name: rating, dtype: float64

### Data Prep

In [137]:
movies_average_rating=df_survey.groupby('movie')['rating'].mean().sort_values(ascending=False).reset_index().rename(columns={'rating':'Average Rating'})
movies_average_rating.head()

               movie  Average Rating
0  Top Gun: Maverick           4.000
1         Spider Man           3.429
2            Top Gun           2.714
3      The Godfather           2.143
4          I Came By           2.000

Here I took the average rating for each movie

In [138]:
movies_rating_count=df_survey.groupby('movie')['rating'].count().sort_values(ascending=True).reset_index().rename(columns={'rating':'Rating Count'}) #ascending=False
movies_rating_count_avg=movies_rating_count.merge(movies_average_rating, on='movie')
movies_rating_count_avg.head()

           movie  Rating Count  Average Rating
0      I Came By             7           2.000
1     Spider Man             7           3.429
2  The Godfather             7           2.143
3      The Whale             7           1.286
4        Top Gun             7           2.714

I added another rating count column so we can see how many ratings each movie has

In [139]:
rating_with_RatingCount = df_survey.merge(movies_rating_count, left_on = 'movie', right_on = 'movie', how = 'left')
rating_with_RatingCount.head()

   UserID              movie  rating  Rating Count
0       1          The Whale   1.000             7
1       1            Top Gun   4.000             7
2       1          I Came By   5.000             7
3       1      The Godfather   0.000             7
4       1  Top Gun: Maverick   4.000             7

Merged the two datasets for further data extraction

In [140]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(rating_with_RatingCount['Rating Count'].describe())

count   42.000
mean     7.000
std      0.000
min      7.000
25%      7.000
50%      7.000
75%      7.000
max      7.000
Name: Rating Count, dtype: float64

Added function so we have three decimal points for our statistical inference

In [141]:
popularity_threshold = 3
popular_movies= rating_with_RatingCount[rating_with_RatingCount['Rating Count']>=popularity_threshold]
popular_movies.head()
#popular_movies.shape

   UserID              movie  rating  Rating Count
0       1          The Whale   1.000             7
1       1            Top Gun   4.000             7
2       1          I Came By   5.000             7
3       1      The Godfather   0.000             7
4       1  Top Gun: Maverick   4.000             7

In [142]:
import os
movie_features_df=popular_movies.pivot_table(index='movie',columns='UserID',values='rating').fillna(0)
movie_features_df.head(10)

UserID                1     2     3     4     5     6     7
movie
I Came By         5.000 4.000 2.000 0.000 3.000 0.000 0.000
Spider Man        3.000 5.000 4.000 4.000 3.000 5.000 0.000
The Godfather     0.000 4.000 0.000 5.000 3.000 3.000 0.000
The Whale         1.000 0.000 3.000 0.000 2.000 3.000 0.000
Top Gun           4.000 0.000 5.000 0.000 4.000 4.000 2.000
Top Gun: Maverick 4.000 5.000 5.000 3.000 5.000 4.000 2.000

### KNN Model

In [143]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)

In [144]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [145]:
movie_features_df.shape

(6, 7)

In [146]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)
query_index=2

1

In [147]:
movie_features_df.head()

UserID            1     2     3     4     5     6     7
movie
I Came By     5.000 4.000 2.000 0.000 3.000 0.000 0.000
Spider Man    3.000 5.000 4.000 4.000 3.000 5.000 0.000
The Godfather 0.000 4.000 0.000 5.000 3.000 3.000 0.000
The Whale     1.000 0.000 3.000 0.000 2.000 3.000 0.000
Top Gun       4.000 0.000 5.000 0.000 4.000 4.000 2.000

In [148]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for The Godfather:

1: Top Gun: Maverick, with distance of 0.050614233657712226:
2: The Godfather, with distance of 0.16679096972272722:
3: The Whale, with distance of 0.24934810939453078:
4: Top Gun, with distance of 0.2706523106583172:
5: I Came By, with distance of 0.2923696298626375:

LightFM Model:

In [149]:
!pip install LightFM

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: LightFM in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from LightFM) (1.21.6)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from LightFM) (1.7.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from LightFM) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from LightFM) (1.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->LightFM) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->LightFM) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->LightFM) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->LightFM) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->LightFM) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->LightFM) (1.1.0)

In [150]:
from lightfm import LightFM
from lightfm.datasets import fetch_movielens
from lightfm.evaluation import precision_at_k
from lightfm.cross_validation import random_train_test_split
import scipy.sparse as sp

In [151]:
ratings = np.array(popular_movies['rating'])
users = np.array(popular_movies['UserID'])
items = np.array(popular_movies['movie'])

In [152]:
from sklearn.preprocessing import LabelEncoder

# heavy lifting encoders
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()

In [153]:
# preparation for the csr matrix
u = user_encoder.fit_transform(users)
i = item_encoder.fit_transform(items)
lu = len(np.unique(u))
li = len(np.unique(i))

In [154]:
matrix = sp.coo_matrix((ratings, (u, i)), shape=(lu, li))

In [155]:
matrix.todense()

matrix([[5., 3., 0., 1., 4., 4.],
        [4., 5., 4., 0., 0., 5.],
        [2., 4., 0., 3., 5., 5.],
        [0., 4., 5., 0., 0., 3.],
        [3., 3., 3., 2., 4., 5.],
        [0., 5., 3., 3., 4., 4.],
        [0., 0., 0., 0., 2., 2.]])

In [156]:
item_encoder.classes_[:7]

array(['I Came By', 'Spider Man', 'The Godfather', 'The Whale', 'Top Gun',
       'Top Gun: Maverick'], dtype=object)

In [157]:
user_encoder.classes_[:7]

array([1, 2, 3, 4, 5, 6, 7])

In [158]:
##item_encoder.inverse_transform([7])

In [159]:
from lightfm.cross_validation import random_train_test_split

train, test = random_train_test_split(matrix, test_percentage=0.2)

In [160]:
model = LightFM()
model.fit(train)

In [161]:
from lightfm.evaluation import precision_at_k

precision_at_k(model, test, k=10).mean()

0.15

In [180]:
user = 1
user_id = int(user_encoder.transform([user])[0])

In [181]:
user_encoder.inverse_transform([user_id])

array([1])

In [186]:
all_movie_ids = np.array(list(range(len(item_encoder.classes_))),dtype=np.int32)
all_movie_ids.dtype

dtype('int32')

In [187]:
preds = model.predict(user_id, all_movie_ids)

In [190]:
all_movies = pd.DataFrame(
    zip(item_encoder.classes_, preds),
    columns=['Movie', 'Prediction']
).sort_values(
    'Prediction', ascending=False
)

all_movies.head(10)

               Movie  Prediction
5  Top Gun: Maverick       0.186
2      The Godfather       0.127
1         Spider Man       0.117
4            Top Gun       0.115
3          The Whale       0.100
0          I Came By       0.068

In [191]:
tried = popular_movies[popular_movies['UserID'] == user]['rating'].values
list(all_movies[~all_movies['Movie'].isin(tried)]['Movie'].values[:5])

['Top Gun: Maverick', 'The Godfather', 'Spider Man', 'Top Gun', 'The Whale']